{% extends "Recipe/base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Manage Recipes</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Created By</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.category }}</td>
                <td>{{ recipe.created_by.username }}</td>
                <td>
                    <a href="{% url 'edit_recipe' recipe.pk %}" class="btn btn-sm btn-warning">Edit</a>
                    <a href="{% url 'delete_recipe' recipe.pk %}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}