{% extends "recipe/base.html" %}
{% load static %}

{% block content %}

<div class="account-container">
    <h2>Change Password</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <label>Old password</label>
        {{ form.old_password }}

        <label>New password</label>
        {{ form.new_password1 }}

        <label>Confirm new password</label>
        {{ form.new_password2 }}

        <button type="submit" class="password-btn">Update Password</button>
    </form>
</div>
{% endblock %}